@page
@model cw7.Pages.PrimeNumbersGenerator
<h1>Generator liczb pierwszych</h1>
<form action="" method="post">
    <label for="amount">Liczba liczb pierwszych</label>
    <input type="number" name="amount" id="amount" required>
    <button type="submit">Wygeneruj</button>
</form>
@if (Model.PrimeNumbersList != null) {
    <table>
        @Html.Raw(ViewData["outputTable"])
    </table>
}
