body{
    background-color: #F6E5DC;
    font-family: Verdana;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #2F180C;
    text-align: center;
    color: khaki;
    height: 60px;
}
main{
    display: flex;
    flex-direction: column;
}
#up{
    display: flex;
    flex-direction: row;
}
#left{
    width: 60%;
}
#right{
    font-size: 150%;
    padding: 70px;
}
#bottom{
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
}
footer{
    background-color: #2F180C;
    color: khaki;
    height: 60px;
}
img{
    height: 350px;
}
button{
    margin: 10px;
    padding: 5px;
    background-color: #2F180C;
    color: khaki;
}
.form-element{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}