@model Game

@{
    ViewBag.Title = "Aktualizowanie Gry";
    Layout = "_Layout";
}

<h2>Aktualizowanie Gry</h2>
<form asp-action="Update" method="post" name="myForm">
    <input type="number" name="Id" id="Id" value="@Model.Id" hidden readonly>
    <table>
        <tr>
            <td><label asp-for="Title"></label></td>
            <td><input type="text" name="Title" id="Title" asp-for="Title"></td>
            <td><span asp-validation-for="Title" id="TitleValid" class="text-danger"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Publisher"></label></td>
            <td><input type="text" name="Publisher" id="Publisher" asp-for="Publisher"></td>
            <td><span asp-validation-for="Publisher" id="PublisherValid" class="text-danger"></span></td>
        </tr>
        <tr>
            <td><label asp-for="ReleaseYear"></label></td>
            <td><input type="number" name="ReleaseYear" id="ReleaseYear" asp-for="ReleaseYear" step="1"></td>
            <td><span asp-validation-for="ReleaseYear" id="ReleaseYearValid" class="text-danger"></span></td>
        </tr>
        <tr>
            <td><label asp-for="Price"></label></td>
            <td><input type="number" name="Price" id="Price" asp-for="Price" step="0.01"></td>
            <td><span asp-validation-for="Price" id="PriceValid" class="text-danger"></span></td>
        </tr>
        <tr>
            <td><button class="btn btn-primary" onclick="validate()" type="button">Zaktualizuj</button></td>
        </tr>
    </table>
</form>
<script src="~/validation.js"></script>
